.parent{
    display: flex;
}

.signin{
    margin: 25px 20px;
    width: 100px;
    height:40px;
    border-radius: 8px;
background: rgba(18, 76, 95, 1);
color: white;
border: none;
cursor: pointer;
}

.register{
    margin: 25px 20px;
    width: 100px;
    height:40px;
    border-radius: 8px;
background: rgba(199, 231, 225, 1);
border: none;
cursor: pointer;
}